@use './partials/variables' as *;
@use './partials/mixins' as *;

html{
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color: #FFFFFF;

    &__left{
        display: flex;
        align-items: center;
    }

    &__logo{
        color: $ts-blue;
    }

    &__list{
        display: flex;
        list-style: none;
    }

    &__link{
        text-decoration: none;
        margin: 0 0.5rem;
        color:black;

        &--logo{
            color: $ts-blue;
            font-weight: bold;
        }

        &--selected{
            border-bottom: 3px solid $ts-orange;
        }
    }

    &__item{
        font-size: 0.75rem;
        margin-bottom: 0.375rem;
    }
}

.footer{
    padding: 2rem 4rem;
    background-color: $ts-beige;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact{

    &__title{
        margin-bottom: 1rem;
        color: $ts-blue;
        font-size: 1rem;
    }

    &__label{
        @include label;
    }

    &__description{
        font-size: 0.75rem;
        color: $ts-blue;
    }
}

.hours{
    
    &__title{
        margin-bottom: 1rem;
        color: $ts-blue;
        font-size: 1rem;
    }

    &__label{
        @include label;
    }

    &__description{
        font-size: 0.75rem;
        color: $ts-blue;
    }

    &__bottom{
        display: flex;
        gap: 1rem;
    }
}

.social{
    &__title{
        margin-bottom: 1rem;
        color: $ts-blue;
        font-size: 1rem;
    }
    &__bottom{
        display: flex;
        gap: 1rem;
    }
    &__link{
        text-decoration: none;
        color: $ts-blue;
    }
    &__img{
        height: 1rem;
    }
}