html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;

    &__left{
        display: flex;
        align-items: center;
    }

    &__logo{

    }

    &__list{
        display: flex;
        list-style: none;
    }

    &__link{
        text-decoration: none;
        margin: 0 0.5rem;
    }
}